
@{
    ViewData["Title"] = "Address";
}

<h1>Address</h1>
<select id="selectCity"></select>
<select id="mainCity"></select>
<select id="selectDistrict"></select>
<select id="selectRoad"></select>
<div id="div1" class="alert alert-info"> </div>
@section CSS{
<style></style>
}

@*https://localhost:44303/Home/Address*@

@section Scripts{
<script>
    const selCity = document.querySelector('#selectCity');
    const selDistrict= document.querySelector('#selectDistrict');
    const selRoad = document.querySelector('#selectRoad');
    const myDiv = document.querySelector('#div1');
   
   


    //function loadCity(){
    //    const xhr = new XMLHttpRequest();
    //       xhr.open('GET','@Url.Content("~/api/Cities/")');
    //       xhr.send();
    //       xhr.addEventListener('load',()=>{
    //       const datas = JSON.parse(xhr.responseText);
    //       const cities = datas.map(city => `<option value='${city}'>${city}</option>`)
    //       selCity.innerHTML = cities.join("")
    //            loadDistrict()
    //        })     
    //}


        //作業六
    async function loadCityFetch(){
            const res = await fetch('@Url.Content("~/api/Cities/")')
            const datas = await res.json()
            const cities = datas.map(city => `<option value='${city}'>${city}</option>`)
            selCity.innerHTML = cities.join("")
            loadDistrict()
        }
        
        loadCityFetch()
            
        //作業四
        $(document).ready(function () {
            const new_cities = ['台北市', '新北市', '台中市', '桃園市', '台南市', '高雄市'];

            function loadNewCities() {
                const mainCity = $('#mainCity');
                new_cities.forEach(function (city) {
                    mainCity.append(`<option value="${city}">${city}</option>`);
                });
            }

            loadNewCities();
        });









        function loadDistrict() {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `@Url.Content("~/api/districts")?city=${selCity.value}`);
            xhr.send();
            xhr.addEventListener('load', () => {
                const datas = JSON.parse(xhr.responseText);
                const districts = datas.map(district => `<option value='${district}'>${district}</option>`)
                selDistrict.innerHTML = districts.join("");
                loadRoad()

            })
        }

        function loadRoad() {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `@Url.Content("~/api/roads")?siteId=${selDistrict.value}`);
            xhr.send();
            xhr.addEventListener('load', () => {
                const datas = JSON.parse(xhr.responseText);
                const roads = datas.map(road => `<option value='${road}'>${road}</option>`)
                selRoad.innerHTML = roads.join("");
            })
            show()
        }


        //loadcity()



        selCity.addEventListener('change', () => {
            //  theDiv.textContent = `${selCity.options[selCity.selectedIndex].text}-${selCity.options[selCity.selectedIndex].value} `
            myDiv.textContent = selCity.value;
            loadDistrict();
        })

        selDistrict.addEventListener('change', () => {
            //  theDiv.textContent = `${selCity.options[selCity.selectedIndex].text}-${selCity.options[selCity.selectedIndex].value} `
            myDiv.textContent += selDistrict.value;
            loadRoad();
        })

        selRoad.addEventListener('change', show)

        function show() {
            myDiv.textContent = `${selDistrict.value} ${selRoad.value}`;
        }
        


</script>

}