
@{
    ViewData["Title"] = "register";
}

<h1>會員註冊</h1>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        @*<form action="~/api/getdemo" method="post"> *@
        <form id="form1">
            @*這邊表示要把資料送給誰，使用action屬性來決定，方法使用method屬性，不特別標明則使用GET方法*@
        <div class="mb-3">
            <label for="userName" class="form-label">使用者名稱</label> @*for的意思是當游標點擊這邊的時候，會自動跑去id為userName的地方*@
            <input type="text" class="form-control"id="userName" name="Name"/>
                <label id="checklabel" class="form-label"></label>
        </div>
         <div class="mb-3">
             <label for="userAge" class="form-label">年齡</label> @*for的意思是當游標點擊這邊的時候，會自動跑去id為userName的地方*@
                <input type="text" class="form-control" id="userAge" name="Age" />
         </div>
            <div class="mb-3">
                <label for="userEmail" class="form-label">你的EMAIL</label>
                <input type="email" class="form-control" id="userEmail" name="Email">
            </div>
            <div class="mb-3">
                <label for="photo" class="form-label">照片</label>
                <input type="file" class="form-control" id="photo" name="file"> 
                <img id="img">
            </div>
        <button type="submit" id="btn1" class="btn btn-primary">送出</button>
        </form>
        <div class="alert alert-info" id="div1"></div>
    </div>
</div>
<div class="col-3">
    <a href="https://zh-tw.facebook.com/" id="a1">超連結</a>

</div>

@section CSS{
    

}

@section Scripts{

    <script>
        const btn = document.querySelector('#btn1')
        const a1 = document.querySelector('#a1')
        const userName = document.querySelector('#userName')
        //const txtusername = document.querySelector('#userName')
        //const txtage = document.querySelector('#userAge')
        const div1 = document.querySelector('#div1')
        const photo = document.querySelector('#photo')

        //作業五 圖片預覽
        photo.addEventListener('change', function (e) {
            const file = e.target.files[0]
            const img = document.querySelector('#img')
            img.src = URL.createObjectURL(file)
        })


        //btn.addEventListener('click', event => { //event這邊可以帶換成其他詞，可以自定義
        //    event.preventDefault();//防止submit的預設行為
           
        //    const xhr = new XMLHttpRequest();
        //    //xhr.open('POST', '/api/Register');
        //    xhr.open('POST', '@Url.Content("/api/Register")');
            
        //    //xhr.setRequestHeader('Content-Type','appliction/x-www-form-urlencoded')
        //    //xhr.send(`name=${txtusername.value}&age=${txtage.value}`);
            
        //    xhr.send(formData);

        //    xhr.addEventListener('load', () => {
        //    const data = xhr.responseText;
        //     div1.innerHTML = data;
        //    })
        //})




        //用Fetch改寫

        const formData = new FormData(document.querySelector('#form1'))
        fetch('@Url.Content("/api/register")',
        { body: formData, method: "Post" }) //TODO弄清楚這邊的參數在幹嘛
        .then(response=>{
            if(response.ok){
            alert("成功")
                    location.href = '@Url.Content("/Members")'
            }else{
            alert("錯誤")
            }
        
        })

        //作業三
  



        userName.addEventListener('blur', event =>{
            var input = $('#userName').val();
            $.post('@Url.Content("~/api/CheckAccount")', { "name": input }, function (data) {
                //data 就會收到伺服器端回傳的結果
                if (data.exists) {
                    $('#checkLabel').text('');
                } else {
                    $('#checkLabel').text('使用者不存在');
                }
            })
        
        })



        a1.addEventListener('click', event => {//超連結部分
            if (!window.confirm("真的要去嗎??")) {
                event.preventDefault();
            }
        })

    </script>

}
